.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.wrapper header {
  height: 50px;
}
.wrapper header #main {
  background-image: url('../gfx/header.png');
  height: 100%;
  width: 305px;
  margin-left: -25px;
}
.wrapper header #main ul {
  padding-left: 35px;
  padding-top: 5px;
}
.wrapper header #main ul li {
  float: left;
  margin-left: 15px;
}
.wrapper article {
  margin-top: 20px;
  padding: 20px;
}
