@font-face {
  font-family: Znikomit;
  src: url(../gfx/font/Znikomit.otf);
}
@font-face {
  font-family: American Captain;
  src: url(../gfx/font/AmericanCaptain.otf);
}
body {
  font-family: Znikomit;
}
a {
  transition: all 200ms;
  text-decoration: none;
  color: #fff4d0;
}
a:hover {
  transition: all 200ms;
  color: #6c7779;
}
.active {
  color: #6c7779;
}
.americancaptain {
  font-family: American Captain;
  font-size: 20px;
  text-shadow: #000000 -1px -1px 3px;
}
